<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="helloService" class="com.uniago.service.HelloService">
        <property name="message" value="Hello, Spring!" />
    </bean>

    <bean id="helloController" class="com.uniago.controller.HelloController">
        <property name="helloService" ref="helloService" />
    </bean>

</beans>
